@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
  --font-manrope: 'Manrope', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

 
